$text-color: #333;
$heading-color: #111;

$link-color: #d54aaf;
$link-hover-color: saturate(#d54aaf, 20%);
$link-visited-color: purple;

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 300;

$fixed-font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
$fixed-font-size: 15px;
$fixed-line-height: 1.2;

$heading-font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$heading-font-weight: 700;

//Color Pallet
$white: white;
$black: black;
$grey: #cacaca;
